@font-face{
    
    
    font-family:'Quicksand-Regular';
    src:url('Quicksand-Regular.otf');
}
@font-face{
    

    font-family:'AlexBrush-Regular';
    src:url('AlexBrush-Regular.ttf');
   
}
body{
    
    font-family:'Quicksand-Regular'; 
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid  #8B4513;
    width: 40%;
    height: 98%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #8B4513;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-footer {
    padding: 2px 16px;
   
}

.modal-body {padding: 2px 16px;}

.Moda {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.Modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid  #8B4513;
    width: 40%;
    height: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.clos {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.clos:hover,
.clos:focus {
    color: #8B4513;
    text-decoration: none;
    cursor: pointer;
}

.Modal-header {
    padding: 2px 16px;
    color: black;
}

.Modal-footer {
    padding: 2px 16px;
   
}

.Modal-body {padding: 2px 16px;}



#navbar{
background:url("images/p3.jpg");
background-size: cover;
width:101.2%;
height:120%;
margin-top: -1em;
margin-left: -0.5em; 
background-attachment: fixed;
      
}
ul li{
    
   list-style-type: none;
   display: inline;
    padding-left: 5em;
    float: right;
    margin-right: 2em;
    color: white;
    cursor: pointer;
    
   
}

.icon{
    

    font-size: 30px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: none;
    transition: 1s;
   
}
#see{
    
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 20px;
    transition: 1s;
    
}
#message{
    
padding-top: 200px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 140px;
color: white;
width:50%;
font-size: 3.0em; 
line-height: 1.5;

}
#mid3{
    
    height:
}

#footer{
    
    
    margin-top: 600px;
    padding-top: 10px;
    color: #616161;
}
#mid{
    
    
    width: 100%;
}
.mid1{
    
    float: left;
    width: 50%;
}
#mid1{
    
    margin-left: 120px;
    width: 450px;
    
}
#img{
    margin-right: -80px;
    margin-left: -8px;
    
  
    
}
#p{
    
    margin-top: 70px;
    line-height: 1.5;
    font-size: 20px;
}

.container{
    
    background: #f9f9f9;
}
.parallax{
    
    background: url('images/pic2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width:101.2%;
    height: 101%;
    margin-left: -0.5em;
}

.mid3{
    
    margin-top: 40px;
    font-size: 25px;
    width:40%;
    float: left;
    text-align: center;
   
}
#mid4{
    
    background-color: white;
    width:400px;
    font-size: 20px;
    margin-left: 50px;
    padding: 40px;
    line-height: 1.5;
}
#mid2{
    
    width: 100%;
    height:500px;
}
#dish{
    
    margin-left: 100px;
    text-align: center;
}
#mid3{
    
    margin-left:70px; 
}


.myBtn,.con{
    
    margin: 0;
    border:0;
    padding: 0.5em;
     background-color: #8B4513;
    color: white;
    width:40%;
    font-size: 30px;
    font-family: 'AlexBrush-Regular';
    margin-top: 80px;
    transition: 0.5s;
}
.con span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.con span:after {
  content: '»';
  opacity: 0;
  top: 0;
  margin-left:5px; 
  transition: 0.5s;
}

.con:hover span {
  padding-right: 25px;
}

.con:hover span:after {
  opacity: 1;
  right: 0;
}

.myBtn:hover{
    
    cursor: pointer;
}

.tag{
    
    font-family: 'AlexBrush-Regular';
    color: #8B4513;
}
a{
    
    text-decoration: none;
    color: white;
}
.hr{
    
    border: 1px solid #8B4513;
    width: 200px;
    
}
#hr{
    border: 1px solid #8B4513;;
}
#hr1{
    
    border: 1px solid #8B4513;
    width: 200px;
    margin-top: -20px;
    margin-bottom: 50px;
}
.input{
    
    width:400px;
    border-radius: 20px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
    
}
.form-group{
    
   
}
#submit{
    
    background-color:#8B4513;
    width:18%;
    border: 0;
    margin:0;
    padding: 10px;
    font-size: 1.4rem;
    color:white;
    font-family:'AlexBrush-Regular';
    
}
h1{
    
    font-size:50px;
}
form{
    
    font-family: 'AlexBrush-Regular';
    color:#8B4513;
    font-size: 1.5rem;
    font-weight: bold;
}
input:focus{
    
    border-color:#8B4513;
    outline: #8B4513  5px;
}

@media (max-width:768px) {
    
    ul li{
        
        display: none;
    }
    .icon{
        
        display: block;
        float: right;
        padding: 0;
        padding-top: 15px;
        margin-right:10px;
        position: absolute;
        right: 0;
        top: 0;
       
    }
    
  ul.nav.responsive li {
    float: none;
    display: inline;
     
    
  }
  ul.nav.responsive li a {
    display: block;
    text-align: center;
  }
  
    #navbar{
        
        width: 102.5%;
      
    }
    #message{
        
        width: 60%;
        font-size: 3em;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    #img{
        width: 100%;
        margin-top:150px;
        margin-left: 200px;
        border-radius: 100%;
    }
    h1{
        
        font-size: 40px;
    }
    .p{
        font-size: 20px;
    }
    #dish{
        
        margin: 0;
        margin-left: 100px;
       
    }
    #mid3{
        
        margin-top: 2px;
        margin-left: 30px;
    }
    #mid1{
    margin: 0;
    text-align: center;
        margin-left: 200px;
    
}
    .con{
        
        margin-top: 30px;
    }
    
    #mid4{
        
        width: 300px;
        
    }
    #mid2{
        height: 400px;
    }
    #chef{
        
        padding: 0;
        margin: 0;
        margin-top: -350px;
        text-align: center;
        
        
    }
    #hr{
        
        width: 40%;
    }
    #p{
        margin-top: 300px;
    }
    #footer{
        
        margin-top: 800px;
            
    }
    #get{
        
        font-size:5px;
    }
    
}

@media screen and (max-width: 1024px) and (min-width: 1024px){
    
    #img{
        
        width: 500px;
    }
    #mid1{
        
        float:right;
        margin-top: -340px;
    }
    #p{
        margin-top: -5px;
    }
}


